@media (min-width: 576px){
    .container {
        max-width: 100%;
    }
}
@media (min-width: 992px){
    .container {
        max-width: 100%;
    }
}
@media (min-width: 768px){
    .container {
        max-width: 100%;
    }
}
@media (min-width: 1200px){
    .container {
        max-width: 1390px;
    }
}

::-webkit-scrollbar{
    width:12px;
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}
::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}
::-webkit-scrollbar-track{
    border-width:0;
}
::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
}

body{
    font-family: 'Roboto', sans-serif;
}

input::-moz-placeholder {color: #E3E3E3; !important;}
input::-webkit-input-placeholder {color: #E3E3E3; !important;}
input:-ms-input-placeholder {color: #E3E3E3; !important;}
input::-ms-input-placeholder {color: #E3E3E3; !important;}
input::placeholder {color: #E3E3E3; !important;}

a{
    color: #61D0AF;
}
a:hover {
    color: #868686;
}
.btn{
    border: none;
}
.close {
    font-weight: 300;
    color: #fff;
    text-shadow: none;
    opacity: 1;
}
.modal {
    top: 8%;
}

h1{
    font-size: 24px;
    line-height: 28px;
    color: #61D0AF;
    margin: 0;
}
h2{
    font-size: 20px;
    line-height: 23px;
    color: #61D0AF;
}
h3{
    font-size: 16px;
    line-height: 19px;
    color: #61D0AF;
}
h4{
    font-size: 12px;
    line-height: 14px;
    color: #61D0AF;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 30px !important;
    position: relative;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    opacity: 1;
    margin: 0;
    background-color: #61D0AF;
}
input[type=number]{
    -moz-appearance: textfield;
}
.select {
    position: relative;
}
.select:after {
    content: url("../img/select.png");
    padding: 0 8px;
    font-size: 12px;
    position: absolute;
    right: 0px;
    top: 4px;
    z-index: 1;
    text-align: center;
    pointer-events: none;
    box-sizing: border-box;
}

textarea, .form-control {
    width: 100%;
    background: #FFFFFF;
    border: none;
    padding: 6px 10px;
    color: #868686;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 7px;
    height: auto;
}

table{
    border: 1px solid #efefef;
}
table thead{
    background-color: #efefef;
}
table thead th{
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    color: #868686;
    padding: 15px 10px;
}
table thead th .block-th{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
table thead th .sort-th{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 7px;
    height: 19px;
}
table thead th .sort-th .sort-th-down,
table thead th .sort-th .sort-th-up{
    background-size: cover;
    background-position: center;
    width: 9px;
    height: 6px;
}
table thead th .sort-th .sort-th-down{
    background-image: url("../img/sort_down.png");
}
table thead th .sort-th .sort-th-up{
    background-image: url("../img/sort_up.png");
}
table tbody input[type=checkbox]{
    width: 100%;
    height: 0px;
}
table tbody input[type=checkbox]:before{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background: #868686;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    bottom: 0;
    margin-top: -4px;
}
table tbody input[type=checkbox]:checked:before{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background: #61D0AF;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    bottom: 0;
    margin-top: -4px;
}

table tbody tr{
    background: #F9F9F9;
}
table tbody td{
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    color: #868686;
    padding: 12px 10px;
    position: relative;
}
table tbody td a{
    color: #61D0AF;
    text-decoration: underline;
    transition: 0.2s;
}
table tbody td a:hover{
    transition: 0.2s;
}
table tbody td span.objects{
    background: #EFEFEF;
    border-radius: 5px;
    padding: 5px 9px;
    margin: 0 1px;
}

header#header{
    background: #61D0AF;
}
header#header .navbar{
    padding: 5px 0;
}
header#header .navbar .nav-link{
    padding: 0;
    margin: 0 .5rem;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    transition: 0.3s;
}
header#header .navbar-nav .nav-link{
    margin-top: 3px;
}
header#header .navbar .nav-item:hover .nav-link,
header#header .navbar .nav-item.active .nav-link{
    border-bottom: 3px solid #ffffff;
    transition: 0.3s;
}
header#header .navbar .navbar-text {
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0.5rem;
}
header#header .navbar .navbar-text a{
    padding: 0;
}
header#header .navbar .navbar-text.user-info a{
    display: flex;
    align-items: center;
}
header#header .navbar .navbar-text.user-info a img{
    margin-left: 8px;
}


main#main{
    min-height: calc(100vh - 128px);
    padding-top: 30px;
    padding-bottom: 50px;
    /*min-height: 600px;*/
}
main#main.main-authorization{
    display: flex;
    align-items: center;
    justify-content: center;
}
main .table-wrap{
    overflow: hidden;
    border-radius: 5px;
}
main .title-page{
    padding-bottom: 28px;
}
main .btn-form{
    text-align: right;
}
main .btn-edit-profile{
    margin-bottom: 1rem;
    text-align: right;
}
main .btn{
    padding: 10px;
    background: #61D0AF;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    transition: 0.3s;
    max-width: 210px;
    width: 100%;
    cursor: pointer;
}
main .btn:hover{
    color: #fff;
    background: #49ab8d;
    transition: 0.3s;
}
main .btn.btn-white{
    border: 3px solid #FFFFFF;
}
main #res{
    margin-bottom: 10px !important;
}
main input[type="file"]{
    display: none;
}
main label[for="file"]{
    margin-bottom: 30px;
}
main .input-file div{
    display: flex;
    justify-content: flex-end;
}
main .search-wrap button {
    width: 40px;
    height: 30px;
    color: #868686;
    border: none;
    border-left: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
}
main .search-wrap{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
main .modal-content {
    background: #61D0AF;
    border-radius: 5px;
}
main .modal-title {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
main .modal-header {
    justify-content: center;
    border-bottom: none;
    position: relative;
    padding-bottom: 0;
}
main .modal-header .close {
    padding: 0.5rem 1rem;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}
main .modal-footer {
    justify-content: center;
    border-top: none;
    padding-top: 0px;
}
main .list-songs{
    background: #fff;
    padding: 6px 10px;
    height: 400px;
    overflow-x: hidden;
}
main .list-songs .song{
    border-bottom: 1px solid #E3E3E3;
}
main .list-songs .song .col{
    overflow: hidden;
}
main .list-songs .song .col-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 85px;
}
main .list-songs .song .song-music,
main .list-songs .song .song-time{
    font-size: 12px;
    line-height: 14px;
    color: #868686;
    white-space: nowrap;
}
main .modal-body {
    padding: 1rem 5px;
}
main .pagination{
    padding-top: 33px;
}
main .page-link {
    padding: 1px 3px;
    border: none;
    font-size: 16px;
    line-height: 19px;
    color: #868686;
}
main .page-item.active .page-link {
    color: #fff;
    background: #61D0AF;
    border-radius: 2px;
}
main .page-item{
    margin: 0 6px;
}
main .profile-user{
    display: flex;
    width: 100%;
    padding-right: 20px;
}
main .profile-user .profile-descr{
    width: 100%;
}
main select,
main input{
    width: 100%;
    background: #FFFFFF;
    border: none;
    padding: 6px 10px;
    color: #868686;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 7px;
}
.form-control:focus,
main select:focus,
main input:focus{
    color: #868686;
    outline: #61D0AF;
    box-shadow: 0 0 0 2px #61D0AF;
    outline-color: #61D0AF;
}

main .profile-edit{
    min-width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main .profile-user-wrap{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0 30px;
    display: flex;
    justify-content: space-between;
}
main .profile-photo-user-wrap{
    padding-right: 20px;
    padding-bottom: 20px;
}
main .profile-photo-user{
    width: 210px;
    height: 210px;
}
main .profile-descr-noedit{
    color: #61D0AF;
    font-size: 20px;
    line-height: 23px;
}
main .profile-descr-noedit p{
    margin-bottom: 12px;
}
main .profile-descr-noedit .profile-login{
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 18px;
}
main .profile-descr-noedit .profile-contacts{
    color: #868686;
}
main .profile-descr-noedit .profile-contacts.email{
    text-decoration: underline;
}
main .btn-edit-profile button{
    border: none;
    background: none;
    background-image: url("../img/edit.png");
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
}
main .block-authorization{
    max-width: 480px;
    margin: 0 auto;
    background: #F8F8F8;
    padding: 20px;
    width: 100%;
}
main .block-authorization h1{
    font-weight: normal;
    text-align: center;
    margin-bottom: 18px;
}
main .block-authorization .btns-form{
    text-align: center;
}
main .block-authorization .input-wrap{
    margin-bottom: 30px;
}
main form .form-link{
    text-align: center;
    margin-bottom: 0;
    margin-top: 5px;
}
main .form-link a{
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #61D0AF;
    transition: 0.3s;
}
main .form-link a:hover{
    color: #868686;
    transition: 0.3s;
}
main .form-wrap .inner-form{
    display: flex;
    justify-content: space-between;
}
main .form-wrap .inner-form p{
    font-size: 16px;
    line-height: 19px;
    color: #868686;
}
main .form-wrap .inner-form .form-part{
    width: 48%;
}
main#main.edit-add .form-wrap-btns,
main .form-wrap .inner-form .form-part .input-time,
main .form-wrap .inner-form .form-part .form-control,
main .form-wrap .inner-form .form-part input{
    margin-bottom: 30px !important;
}
main#main.edit-add .form-wrap-btns input,
main .form-wrap .inner-form .form-part .input-time input{
    margin-bottom: 0 !important;
}
main .form-wrap .inner-form .form-part.between{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
main#main.edit-add{
    max-width: 1360px;
    background: #E5E5E5;
    margin: 0 auto;
    display: flex;
    position: relative;
}
main#main.edit-add .bread{
    position: absolute;
    top: 9px;
    left: 10px;
}
main#main.edit-add .bread a,
main#main.edit-add .bread{
    font-size: 12px;
    line-height: 14px;
    color: #868686;
}
main#main.edit-add .bread a:hover,
main#main.edit-add .bread span{
    text-decoration-line: underline;
    color: #61D0AF;
}
main#main.edit-add .row{
    justify-content: center;
}
main#main.edit-add .input-time input{
    margin-bottom: 0;
    width: 72px;
}
main#main.edit-add .input-check{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main#main.edit-add .input-check p{
    margin: 0;
}
main#main.edit-add  input[type="checkbox"]{
    position: static;
    margin: 0 !important;
    width: 20px;
    height: 20px;
}
main#main.edit-add .check-wrap{
    display: block;
    position: relative;
    margin: 0px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 20px;
    width: 20px;
}
main#main.edit-add .check-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 20px;
    width: 20px;
}
main#main.edit-add .check-wrap .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: #FFFFFF;
    border: 2px solid #61D0AF;
    box-sizing: border-box;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}
main#main.edit-add .check-wrap input:checked ~ .checkmark {
    background-color: #61D0AF;
    border: none;
    box-shadow: none;
}
main#main.edit-add .check-wrap .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
main#main.edit-add .check-wrap input:checked ~ .checkmark:after {
    display: block;
}
main#main.edit-add .check-wrap .checkmark:after {
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
main#main.edit-add textarea {
    height: auto;
    min-height: 90px;
}
main#main.edit-add .form-wrap-btns{
    text-align: right;
}
main#main.edit-add .form-wrap-btns p:last-child{
    margin: 0;
}
main#main.edit-add .select-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
main#main.edit-add .select-wrap .item-sel{
    width: 47%;
}
main#main.edit-add .select-wrap .item-sel > *{
    width: 100%;
}
main#main.edit-add .select-wrap .item-sel > p{
    margin-bottom: 7px;
}
main#main.edit-add .input-time p{
    margin: 0;
}
footer#footer{
    background: #868686;
    font-size: 12px;
    line-height: 14px;
    padding: 12px 0;
}
footer#footer p{
    margin: 0;
}
footer#footer p,
footer#footer .footer-contacts a{
    color: #ffffff;
    padding-bottom: 5px;
}
footer#footer .footer-info p:last-child,
footer#footer .footer-contacts p:last-child{
    padding-bottom: 0;
    margin-bottom: 0;
}
footer#footer .footer-info{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}
footer#footer .footer-info{
    text-align: right;
}
footer#footer .footer-info a{
    color: #61D0AF;
    text-decoration: underline;
}
footer#footer .footer-info .links a:last-child{
    margin-left: 23px;
}
footer#footer .footer-contacts a{
    padding-bottom: 0;
}
footer#footer .footer-contacts p{
    margin-bottom: 5px;
    padding-bottom: 0;
    display: flex;
    align-items: center;
}
footer#footer .footer-contacts p img{
    margin-right: 8px;
}

.alert{
    display: none;
}

main#main.edit-add .row.timeline-wrap-cell{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    padding-right: 15px;
}
main#main.edit-add .custom-switch {
    padding-left: 2rem;
}
main#main.edit-add .row.timeline-wrap-cell input[type="text"],
main#main.edit-add .timeline-title {
    margin-bottom: 0 !important;
}
main#main.edit-add .row.timeline-wrap-cell .input-block{
    display: flex;
    align-items: center;
}
main#main.edit-add .row.timeline-wrap-cell .from-time{
    width: 65px;
    text-align: center;
    margin-left: 6px;
    margin-right: 7px;
}
main#main.edit-add .row.timeline-wrap-cell .timeline-title{
    max-width: 155px;
    margin-right: 7px;
}
main#main.edit-add .timeline > p {
    margin-bottom: 7px;
}
main#main.edit-add .btn-del-elem{
    color: #bb3939;
}
main#main.edit-add .custom-control-input:checked~.custom-control-label::before {
    border-color: #61D0AF;
    background-color: #61D0AF;
}
.dis-block{
    opacity: 0.5;
}
.timeline .add-timeline{
    margin-left: 13px;
}
.timeline .btns-msg p:last-child{
    margin-bottom: 0;
    margin-top: 15px;
}

@media (min-width: 992px){
    .modal-lg, .modal-xl {
        max-width: 600px;
    }
}
