{% extends "basic.html" %}

{% block container %}
<main id="main" class="edit-add">

    <div class="bread">
        <a href="/objects">Список объектов</a> / <span>Добавление объекта</span>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8">

                <div class="title-page">
                    <h1>Добавление объекта</h1>
                </div>

                <section class="form-wrap">
                    <form action="{% url 'addObject' %}" method="post">
                        {% csrf_token %}
                        <div class="inner-form">
                            <div class="form-part">
                                <input type="hidden" name="pk" value="{{ obj_object.pk }}" id="pk">

                                <p>Общие сведения:</p>
                                <div class="input-title">
                                    {{ form.title }}
                                </div>
                                <div class="input-time">
                                    <!--  Время  -->
                                    <p>Время работы с:{{ form.time_start }} по {{ form.time_stop }}</p>
                                </div>
                                <div class="input-format">
                                    <!--  Формат объекта  -->
                                    {{ form.dep_format }}
                                </div>
                                <div class="input-descr">
                                    <!--  Описание  -->
                                    {{ form.annotation }}
                                </div>

                                <p>Настройки:</p>
                                <div class="input-ip">
                                    <!--  IP  -->
                                    {{ form.ip_address }}
                                </div>
                                <div class="input-check">
                                    <!--  Объект активен  -->
                                    <p>Объект активен:</p>
                                    <label class="check-wrap" for="id_active">
                                        {{ form.active }}
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="input-check">
                                    <!--  Воспроизводить только в рабочее время  -->
                                    <p>Воспроизводить только в рабочее время:</p>
                                    <label class="check-wrap" for="id_active">
                                        {{ form.active }}
                                        <span class="checkmark"></span>
                                    </label>
                                </div>

                                <div class="select-wrap">
                                    <div class="item-sel">
                                        <p>Синхронизация:</p>
                                        <span class="select">{{ form.play_work }}</span>
                                    </div>
                                    <div class="item-sel">
                                        <p>Плейлист:</p>
                                        <span class="select">{{ form.play_work }}</span>
                                    </div>
                                    <div class="item-sel">
                                        <p>Adv:</p>
                                        <span class="select">{{ form.play_work }}</span>
                                    </div>
                                    <div class="item-sel">
                                        <p>Группа:</p>
                                        <span class="select">{{ form.play_work }}</span>
                                    </div>
                                    <div class="item-sel">
                                        <p>Freq ad:</p>
                                        <span class="number">{{ form.freq_ad }}</span>
                                    </div>
                                    <div class="item-sel">
                                        <p>Broadcast grid:</p>
                                        <span class="select">{{ form.play_work }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-part between">
                                <div class="inputs-wrap">
                                    <p>Адрес объекта:</p>
                                    {{ form.state }}
                                    {{ form.town }}
                                    {{ form.post_address }}
                                </div>

                                <div class="form-wrap-btns">
                                    <p><a href="#" class="btn" role="button" aria-pressed="true">Управление</a></p>
                                    <p><input class="btn" style="margin: 0;" type="submit" value="Создать"></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>

                {% if form.subject.errors %}
                <ol>
                    {% for error in form.subject.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                </ol>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}