{% extends "basic.html" %}

{% block container %}
<main id="main" class="edit-add">

    <div class="bread">
        <a href="/gr_objects">Группы объектов</a> / <span>Добавить группу</span>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8">

                <div class="title-page">
                    <h1>Добавление группы объектов</h1>
                </div>

                <section class="form-wrap">
                    <form action="{% url 'addGrObject' %}" method="post">
                        {% csrf_token %}

                        <div class="inner-form">
                            <div class="form-part">
                                <div class="input-title">
                                    {{ form.title }}
                                </div>

                                <div class="select-wrap">

                                    <div class="item-sel">
                                        <p>Плейлист:</p>
                                        <span class="select">{{ form.playlist }}</span>
                                    </div>
                                    <div class="item-sel">
                                        <p>Сетка вещания:</p>
                                        <span class="select">{{ form.broadcast_grid }}</span>
                                    </div>
                                    {% if user.is_staff %}
                                      <div class="item-sel">
                                          <p>Владелец:</p>
                                          <span class="select">{{ form.owner }}</span>
                                      </div>
                                    {% else %}
                                      <input type="hidden" name="owner" value="{{ user.pk }}" id="id_owner">
                                    {% endif %}
                                    <div class="item-sel">
                                        <p>Рекламный ролик:</p>
                                        <span class="select">{{ form.adv }}</span>
                                    </div>
                                    <div class="item-sel">
                                        <p>Частота рекламы:</p>
                                        <span class="number">{{ form.freq_ad }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-part between">
                                <div class="input-descr">
                                    <!--  Описание  -->
                                    {{ form.annotation }}
                                </div>

                                <div class="form-wrap-btns">
                                    <p><input class="btn" type="submit" value="Создать"></p>
                                </div>
                            </div>
                        </div>
                    </form>

                    {% if form.errors %}
                      {{ form.errors }}
                    {% endif %}
                </section>

            </div>
        </div>
    </div>
</main>

{% endblock %}
