{% extends "basic.html" %}

{% block container %}
<main id="main" class="edit-add">

    <div class="bread">
        <a href="/broadcast_grid">Сетки вещания</a> / <span>Добавить сетку</span>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8">

                <div class="title-page">
                    <h1>Добавить сетку</h1>
                </div>

                <section class="form-wrap">
                    <form action="{% url 'addBroadcastGrid' %}" method="post">
                        {% csrf_token %}
                        <div class="inner-form">
                            <div class="form-part">
                                <div class="input-title">
                                    {{ form.title }}
                                </div>

                                <div class="select-wrap">
                                    <div class="item-sel">
                                        <!-- <p>Группа:</p>
                                        <span class="select">
                                            <select name="owner" id="id_owner1">
                                              <option value="" selected="">---------</option>
                                              <option value="1">Administrator</option>
                                              <option value="2">user1</option>
                                              <option value="3">user2</option>
                                            </select>
                                        </span> -->
                                    </div>
                                    <div class="item-sel">
                                        <!-- <p>_____</p>
                                        <span>_____</span> -->
                                    </div>

                                    <div class="item-sel">
                                        <!-- <p>Объекты:</p>
                                        <span class="select">
                                            <select name="owner" id="id_owner2">
                                              <option value="" selected="">---------</option>
                                              <option value="1">Administrator</option>
                                              <option value="2">user1</option>
                                              <option value="3">user2</option>
                                            </select>
                                        </span> -->
                                    </div>
                                    <div class="item-sel">
                                        <!-- <p>_____</p>
                                        <span>_____</span> -->
                                    </div>
                                    <div class="item-sel">
                                      {% if user.is_staff %}
                                        <p>Владелец сетки вещания:</p>
                                        <span class="select"> {{ form.owner }} </span>
                                      {% else %}
                                        <input type="hidden" name="owner" value="{{ user.pk }}" id="id_owner">
                                      {% endif %}
                                    </div>

                                </div>

                                <!--  Выбор времени вещания:   -->
                                <div class="timeline">
                                    <!--  Тут вставить из edit_broadcast.html     -->
                                </div>
                            </div>

                            <div class="form-part between">
                                <div class="input-descr">
                                    <!--  Примечание  -->
                                    {{ form.annotation }}
                                </div>

                                <div class="form-wrap-btns">
                                    <p><input class="btn" type="submit" value="Создать"></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>

            </div>
        </div>
    </div>
</main>
{% endblock %}
