{% extends "basic.html" %}

{% block container %}
<main id="main" class="edit-add">

    <div class="bread">
        <a href="/adv">Сетки вещания</a> / <span>Добавить рекламу</span>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8">

                <div class="title-page">
                    <h1>Добавить рекламу</h1>
                </div>

                <section class="form-wrap">
                    <form action="{% url 'addAdv' %}" enctype="multipart/form-data" method="post">
                        <input type="hidden" name="pk" value="{{ advs.pk }}" id="pk">
                        {% csrf_token %}

                        <div class="inner-form">
                            <div class="form-part">
                                <div class="input-title">
                                    <!--  Наименование ролика  -->
                                    {{ form.title }}
                                </div>

                                <div class="input-file">
                                    <p>Название файла:</p>
                                    <input style="background: transparent;" type="text" id="res" disabled placeholder="Название файла">
                                    <div>
                                        <input type="file" name="file" id="file"/>
                                        <label class="btn" for="file">Загрузить</label>
                                    </div>
                                </div>

<!--                                <div class="select-wrap">-->
<!--                                    <div class="item-sel">-->
<!--                                        <p>Группы:</p>-->
<!--                                        <span class="select">{{ form.owner }}</span>-->
<!--                                    </div>-->
<!--                                    <div class="item-sel">-->
<!--                                        <p>_____</p>-->
<!--                                        <span>_____</span>-->
<!--                                    </div>-->
<!--                                </div>-->

                            </div>

                            <div class="form-part between">
                                <div class="input-descr">
                                    <!--  Описание  -->
                                    {{ form.annotation }}
                                </div>

                                <div class="form-wrap-btns">
                                    <p><input class="btn" type="submit" value="Создать"></p>
                                </div>
                            </div>
                        </div>
                    </form>

                    {% if form.subject.errors %}
                    <ol>
                        {% for error in form.subject.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                        {% endfor %}
                    </ol>
                    {% endif %}
                </section>

            </div>
        </div>
    </div>
</main>

{% endblock %}