{% extends "basic.html" %}

{% block container %}
<main id="main" class="edit-add">

    <div class="bread">
        <a href="/playlists">Плейлисты</a> / <span>Добавить плейлист</span>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8">

                <div class="title-page">
                    <h1>Добавить плейлист</h1>
                </div>

                <section class="form-wrap">

                    <form method="post">
                        {% csrf_token %}
                        <div class="inner-form">
                            <div class="form-part">
                                <div class="input-title">
                                    <!--  Наименование ролика  -->
                                    {{ form.title }}
                                </div>

                                <div class="select-wrap">
                                    <div class="item-sel">
                                        <p>Жанр:</p>
                                        {{ form.gentre }}
                                    </div>
                                </div>

                                <div class="playlist-wrap">
                                    {{ form.songs }}
                                </div>
                            </div>

                            <div class="form-part between">
                              {% if user.is_staff %}
                                <p>Владелец плейлиста:<br>
                                <span class="select"> {{ form.owner }} </span>
                                </p>
                              {% else %}
                                <input type="hidden" name="owner" value="{{ user.pk }}" id="id_owner">
                              {% endif %}

                                <!-- <div class="input-descr">
                                    <!--  Описание  -->
                                    <!-- <textarea name="annotation" rows="2" class="form-control" placeholder="Примечание" required="" id="id_annotation">10.8.0.2 Магазин на ходится в Минске</textarea> -->
                                <!-- </div> -->

                                <div class="form-wrap-btns">
                                    <p><!-- кнопка вызова окна -->  </p>
                                    <p><input class="btn" type="submit" value="Создать"></p>
                                </div>
                            </div>

                        </div>
                    </form>

                </section>

            </div>
        </div>
    </div>
</main>
{% endblock %}
