{% extends "basic.html" %}

{% block container %}

<main id="main" class="edit-add">

    <div class="bread">
        <a href="/objects">Список объектов</a> / <span>Изменить объект</span>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8">

                <div class="title-page">
                    <h1>{{ obj_object.title }}</h1>
                </div>

                <section class="form-wrap">
                    <form action="{% url 'editObject' %}" method="post">
                        {% csrf_token %}
                        <div class="inner-form">
                            <div class="form-part">
                                <input type="hidden" name="pk" value="{{ obj_object.pk }}" id="pk">


                                <p>Общие сведения:</p>
                                <div class="input-title">
                                    {{ form.title }}
                                </div>
                                <div class="input-time">
                                    <!--  Время  -->
                                    <p>Время работы с:{{ form.time_start }} по {{ form.time_stop }}</p>
                                </div>
                                <div class="input-format">
                                    <!--  Формат объекта  -->
                                    {{ form.dep_format }}
                                </div>
                                <div class="input-descr">
                                    <!--  Описание  -->
                                    {{ form.annotation }}
                                </div>


                                <p>Настройки:</p>
                                <div class="input-ip">
                                    <!--  IP  -->
                                    {{ form.ip_address }}
                                </div>
                                <div class="input-check">
                                    <!--  Объект активен  -->
                                    <p>Объект активен:</p>
                                    <label class="check-wrap" for="id_active">
                                        {{ form.active }}
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="input-check">
                                    <!--  Воспроизводить только в рабочее время  -->
                                    <p>Воспроизводить только в рабочее время:</p>
                                    <label class="check-wrap" for="id_play_work">
                                        {{ form.play_work }}
                                        <span class="checkmark"></span>
                                    </label>
                                </div>


                                <div class="select-wrap">
                                    <div class="item-sel">
                                        <p>Синхронизация:</p>
                                        <span class="select">{{ form.freq_sync_day }}</span>
                                    </div>
                                    <div class="item-sel">
                                        <p>Сетка вещания:</p>
                                        <span class="select">{{ form.broadcast_grid }}</span>
                                    </div>

                                    <div class="item-sel">
                                        <p>Реклама:</p>
                                        <span class="select">{{ form.adv }}</span>
                                    </div>
                                    <div class="item-sel">
                                        <p>Группа:</p>
                                        <span class="select">{{ form.group }}</span>
                                    </div>
                                    <div class="item-sel">
                                        <p>Периодичность рекламы:</p>
                                        <span class="number">{{ form.freq_ad }}</span>
                                    </div>
                                    <div class="item-sel">
                                      {% if user.is_staff %}
                                        <p>Владелец объекта:</p>
                                        <span class="select"> {{ form.owner }} </span>
                                      {% else %}
                                        <input type="hidden" name="owner" value="{{ user.pk }}" id="id_owner">
                                      {% endif %}
                                    </div>
                                </div>


<!--                                {{form.group.label_tag}}{{ form.group }} &nbsp;<br>-->
<!--                                {{form.broadcast_grid.label_tag}}{{ form.broadcast_grid }}<br>-->
<!--                                {{form.freq_ad.label_tag}}{{ form.freq_ad }} &nbsp; {{form.adv.label_tag}}{{ form.adv }}<br>-->

<!--                                {% if user.is_staff %}-->
<!--                                    {{ form.owner.label_tag }}&nbsp;{{ form.owner }} &nbsp; <br>-->
<!--                                {% else %}-->
<!--                                    <input type="hidden" name="owner" value="{{ user.pk }}" id="id_owner">-->
<!--                                {% endif %}-->

<!--                                <label class="my-1 mr-2" for="id_freq_sync_day">{{ form.freq_sync_day.label }}</label>-->
<!--                                {{ form.freq_sync_day }}-->
                            </div>

                            <div class="form-part between">
                                <div class="inputs-wrap">
                                    <p>Адрес объекта:</p>
                                    {{ form.state }}
                                    {{ form.town }}
                                    {{ form.post_address }}
                                </div>

                                <div class="form-wrap-btns">
                                  {% if obj_object.active %}
                                    <p><a href="{% url 'sync_all' obj_object.pk %}" class="btn" role="button" aria-pressed="true">Синхронизация</a></p>
                                    <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#controlModalCenter" aria-pressed="true" data-object-id="{{obj_object.pk}}" id="button_control"> Управление </button></p>
                                    <!-- <p><a href="{% url 'ObjectStatus' obj_object.pk %}" class="btn" role="button" aria-pressed="true">Управление</a></p> -->
                                  {% endif %}
                                  <p><button type="button" class="btn" role="button" aria-pressed="true" data-toggle="modal" data-target="#deleteModal" id="btn_del_obj">Удалить</button></p>
                                  <p><input class="btn" style="margin: 0;" type="submit" value="Сохранить"></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>

                  <!-- Modal -->
                  <div class="modal fade bd-example-modal-lg modalcontrol" id="controlModalCenter" tabindex="-1" role="dialog" aria-labelledby="controlModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="controlModalLongTitle">Управление {{ obj_object.title }} </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col">
                                        <p class="status" id="mpd_status">Статус: online</p>
                                        <p class="playnow" id="mpd_playnow">Сейчас играет: <span>Полное наименование композиции <span>0:23</span></span></p>
                                    </div>
                                </div>
                            </div>
                          <div class="container-fluid vol-wrap">
                            <div class="row">
                              <div class="col" id="mpd_volume">
                                <label for="mpdVolume">
                                    <input type="range" class="custom-range" id="mpdVolume" data-object-id="{{obj_object.pk}}" value="0">
                                </label>
                                  <div class="volume-icons">
                                      <span class="vol-0"></span>
                                      <span class="playnow" id="lblmpdVolume"></span>
                                      <span class="vol-100"></span>
                                  </div>
                              </div>
                              <div class="col" id="playlist-btn">
                                    <button type="button" class="" id="button_prev" data-object-id="{{obj_object.pk}}"></button>
                                    <button type="button" class="" id="button_play" data-object-id="{{obj_object.pk}}"></button>
                                    <button type="button" class="" id="button_stop" data-object-id="{{obj_object.pk}}"></button>
                                    <button type="button" class="" id="button_next" data-object-id="{{obj_object.pk}}"></button>
                                </div>
                            </div>
<!--                            <div class="row">-->
<!--                              <div class="col" id="mpd_status">-->

<!--                              </div>-->
<!--                            </div>-->
                          </div>
                          <div class="container-fluid">
                              <div class="row">
                                  <div class="col">

                                      <div class="form-part-playlist">
                                          <div class="form-part-playlist-title">
                                              <p>Текущий плейлист</p>
                                          </div>
                                          <div style="background-color: #FFFFFF" class="playlist-wrap" id="current_playlist">

                                              <div class="playlist-item" id="del_88">
                                                  <div class="playlist-item-name">
                                                      <span class="song-music">Кино_-_Группа_крови.mp3</span>
                                                  </div>
                                                  <div class="panel-playlist-wrap">
                                                      <div class="time-playlist">0:04:46</div>
                                                  </div>
                                              </div>

                                              <div class="playlist-item" id="del_91">
                                                  <div class="playlist-item-name">
                                                      <span class="song-music">008._Isoberlinia_-_Heartcage.mp3</span>
                                                  </div>
                                                  <div class="panel-playlist-wrap">
                                                      <div class="time-playlist">0:03:52</div>
                                                  </div>
                                              </div>

                                          </div>
                                      </div>

                                  </div>
                              </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-white" data-dismiss="modal">Ok</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end Modal -->

                  <!-- Modal 2 -->
                  <div class="modal fade bd-example-modal-lg modalcontrol" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalTitle">Удаление объекта &#171;{{ obj_object.title }}&#187; </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="container-fluid">
                            <div class="row">
                              <div style="background-color: #FFFFFF" class="playlist-wrap col">
                                Восстановление будет невозможно! Продолжить?               
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <a href="{% url 'delObject' obj_object.pk %}" class="btn btn-white" role="button" aria-pressed="true">Удалить</a>
                          <!-- <button type="button" class="btn btn-white" data-dismiss="modal">Удалить</button> -->
                          <button type="button" class="btn btn-white" data-dismiss="modal">Отменить</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end Modal 2 -->

            </div>
        </div>
    </div>
</main>

{% endblock %}
