{% extends "basic.html" %}

{% block container %}
<main id="main" class="edit-add">

    <div class="bread">
        <a href="/gr_objects">Группы объектов</a> / <span>Изменить группу</span>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8">

                <div class="title-page">
                    <h1>{{ obj_object.title }}</h1>
                </div>

                <section class="form-wrap">
                    <form action="{% url 'editGrObject' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="group" value="{{ obj_object.pk }}" id="id_group">
                        <div class="inner-form">
                            <div class="form-part">
                                <div class="input-title">
                                    {{ form.title }}
                                </div>

                                <div class="select-wrap">
                                    <div class="item-sel">
                                        <p>Объекты:</p>
                                    </div>
                                    <div class="item-sel">
                                      {% if obj_object.depot_set.all %}
                                        {% for g in obj_object.depot_set.all %}
                                            <p class="objects">{{ g.title }}</p>
                                            <!-- <span class="objects">{{ g.title }}</span>-->
                                        {% endfor %}
                                      {% endif %}
                                    </div>
                                    <div class="item-sel">
                                        <p>Рекламный ролик:</p>
                                        <span class="select">{{ form.adv }}</span>
                                    </div>
									<div class="item-sel">
                                        <p>Сетка вещания:</p>
                                        <span class="select">{{ form.broadcast_grid }}</span>
                                    </div>
									<div class="item-sel">
                                        <p>Периодичность рекламы:</p>
                                        <span class="number">{{ form.freq_ad }}</span>
                                    </div>
                                    {% if user.is_staff %}
                                      <div class="item-sel">
                                          <p>Владелец:</p>
                                          <span class="select">{{ form.owner }}</span>
                                      </div>
                                    {% else %}
                                      <input type="hidden" name="owner" value="{{ user.pk }}" id="id_owner">
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-part between">
                                <div class="input-descr">
                                    <!--  Описание  -->
                                    {{ form.annotation }}
                                </div>

                                <div class="form-wrap-btns">
                                    <p><input class="btn" type="submit" value="Сохранить"></p>
                                    <p><button type="button" class="btn" role="button" aria-pressed="true" data-toggle="modal" data-target="#deleteModal" id="btn_del_obj">Удалить</button></p>
                                </div>
                            </div>
                        </div>
                    </form>

                    {% if form.errors %}
                      {{ form.errors }}
                    {% endif %}
                </section>

                <!-- Modal 2  "Удалить" -->
                <div class="modal fade bd-example-modal-lg modalcontrol" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="deleteModalTitle">Удаление группы объектов &#171;{{ obj_object.title }}&#187; </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="container-fluid">
                          <div class="row">
                            <div style="background-color: #FFFFFF" class="playlist-wrap col">
                              Восстановление будет невозможно! Продолжить?
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <a href="{% url 'delGrObject' obj_object.pk %}" class="btn btn-white" role="button" aria-pressed="true">Удалить</a>
                        <!-- <button type="button" class="btn btn-white" data-dismiss="modal">Удалить</button> -->
                        <button type="button" class="btn btn-white" data-dismiss="modal">Отменить</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end Modal 2 -->

            </div>
        </div>
    </div>
</main>

{% endblock %}
