{% extends "basic.html" %}

{% block container %}

<main id="main" class="edit-add">

    <div class="bread">
        <a href="/objects">Список объектов</a> / <span>{{ obj_object.title }}</span>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8">

                <div class="title-page">
                    <h1>{{ obj_object.title }}</h1>
                </div>

                <section class="form-wrap">
                    <form action="{% url 'editObject' %}" method="post">
                        {% csrf_token %}
                        <div class="inner-form">
                            <div class="form-part">
                                <input type="hidden" name="pk" value="{{ obj_object.pk }}" id="pk">


                                <p>Общие сведения:</p>
                                <div class="input-title">
                                    {{ form.title }}
                                </div>
                                <div class="input-time">
                                    <!--  Время  -->
                                    <p>Время работы с:{{ form.time_start }} по {{ form.time_stop }}</p>
                                </div>
                                <div class="input-format">
                                    <!--  Формат объекта  -->
                                    {{ form.dep_format }}
                                </div>
                                <div class="input-descr">
                                    <!--  Описание  -->
                                    {{ form.annotation }}
                                </div>


                                <p>Настройки:</p>
                                <div class="input-ip">
                                    <!--  IP  -->
                                    {{ form.ip_address }}
                                </div>
                                <div class="input-check">
                                    <!--  Объект активен  -->
                                    <p>Объект активен:</p>
                                    <label class="check-wrap" for="id_active">
                                        {{ form.active }}
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="input-check">
                                    <!--  Воспроизводить только в рабочее время  -->
                                    <p>Воспроизводить только в рабочее время:</p>
                                    <label class="check-wrap" for="id_play_work">
                                        {{ form.play_work }}
                                        <span class="checkmark"></span>
                                    </label>
                                </div>


                                <div class="select-wrap">
                                    <div class="item-sel">
                                        <p>Синхронизация:</p>
                                        <span class="select">{{ form.freq_sync_day }}</span>
                                    </div>
                                    <div class="item-sel">
                                        <p>Сетка вещания:</p>
                                        <span class="select">{{ form.broadcast_grid }}</span>
                                    </div>

                                    <div class="item-sel">
                                        <p>Реклама:</p>
                                        <span class="select">{{ form.adv }}</span>
                                    </div>
                                    <div class="item-sel">
                                        <p>Группа:</p>
                                        <span class="select">{{ form.group }}</span>
                                    </div>
                                    <div class="item-sel">
                                        <p>Частота рекламы:</p>
                                        <span class="number">{{ form.freq_ad }}</span>
                                    </div>
                                    <div class="item-sel">
                                      {% if user.is_staff %}
                                        <p>Владелец объекта:</p>
                                        <span class="select"> {{ form.owner }} </span>
                                      {% else %}
                                        <input type="hidden" name="owner" value="{{ user.pk }}" id="id_owner">
                                      {% endif %}
                                    </div>
                                </div>


<!--                                {{form.group.label_tag}}{{ form.group }} &nbsp;<br>-->
<!--                                {{form.broadcast_grid.label_tag}}{{ form.broadcast_grid }}<br>-->
<!--                                {{form.freq_ad.label_tag}}{{ form.freq_ad }} &nbsp; {{form.adv.label_tag}}{{ form.adv }}<br>-->

<!--                                {% if user.is_staff %}-->
<!--                                    {{ form.owner.label_tag }}&nbsp;{{ form.owner }} &nbsp; <br>-->
<!--                                {% else %}-->
<!--                                    <input type="hidden" name="owner" value="{{ user.pk }}" id="id_owner">-->
<!--                                {% endif %}-->

<!--                                <label class="my-1 mr-2" for="id_freq_sync_day">{{ form.freq_sync_day.label }}</label>-->
<!--                                {{ form.freq_sync_day }}-->
                            </div>

                            <div class="form-part between">
                                <div class="inputs-wrap">
                                    <p>Адрес объекта:</p>
                                    {{ form.state }}
                                    {{ form.town }}
                                    {{ form.post_address }}
                                </div>

                                <div class="form-wrap-btns">
                                  {% if obj_object.active %}
                                    <p><a href="{% url 'sync_all' obj_object.pk %}" class="btn" role="button" aria-pressed="true">Синхронизация</a></p>
                                    <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#controlModalCenter" aria-pressed="true" data-object-id="{{obj_object.pk}}" id="button_control"> Управление </button></p>
                                    <!-- <p><a href="{% url 'ObjectStatus' obj_object.pk %}" class="btn" role="button" aria-pressed="true">Управление</a></p> -->
                                  {% endif %}
                                  <p><a href="#" class="btn" role="button" aria-pressed="true">Удалить</a></p>
                                  <p><input class="btn" style="margin: 0;" type="submit" value="Обновить"></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>

                  <!-- Modal -->
                  <div class="modal fade bd-example-modal-lg" id="controlModalCenter" tabindex="-1" role="dialog" aria-labelledby="controlModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="controlModalLongTitle">Управление {{ obj_object.title }} </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="container-fluid">
                            <div class="row">
                              <div class="col" id="mpd_volume">
                                <label for="mpdVolume" id="lblmpdVolume"> </label>
                                <input type="range" class="custom-range" id="mpdVolume" data-object-id="{{obj_object.pk}}" value="0">
                              </div>
                            </div>
                            <div class="row">
                              <div class="col" id="mpd_status">

                              </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                  <button type="button" class="btn btn-dark" id="button_prev" data-object-id="{{obj_object.pk}}"> <span>Previous</span> </button>
                                </div>
                                <div class="col">
                                  <button type="button" class="btn btn-dark" id="button_play" data-object-id="{{obj_object.pk}}"> <span>Play</span> </button>
                                </div>
                                <div class="col">
                                  <button type="button" class="btn btn-dark" id="button_stop" data-object-id="{{obj_object.pk}}"> <span>Stop</span> </button>
                                </div>
                                <div class="col">
                                  <button type="button" class="btn btn-dark" id="button_next" data-object-id="{{obj_object.pk}}"> <span>Next</span> </button>
                                </div>
                            </div>
                          </div>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end Modal -->
            </div>
        </div>
    </div>
</main>

{% endblock %}
