{% extends "basic.html" %}

{% block container %}
<main id="main" class="edit-add">

    <div class="bread">
        <a href="/broadcast_grid">Сетки вещания</a> / <span>Добавить сетку</span>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8">

                <div class="title-page">
                    <h1>Название сетки</h1>
                </div>

                <section class="form-wrap">
                    <form action={% url 'editBroadcastGrid' %} method="post">
                        {% csrf_token %}
                        <input type="hidden" name="grid" value="{{ grid_obj.pk }}" id="pk">

                        <div class="inner-form">
                            <div class="form-part">
                                <div class="input-title">
                                    {{ form.title }}
                                </div>

                                <div class="select-wrap">
                                        <div class="item-sel">
                                            <p>Группа:</p>
                                            <span class="select">
                                            <select name="owner" id="id_owner1">
                                              <option value="" selected="">---------</option>
                                              <option value="1">Administrator</option>
                                              <option value="2">user1</option>
                                              <option value="3">user2</option>
                                            </select>
                                        </span>
                                        </div>
                                        <div class="item-sel">
                                            <p>_____</p>
                                            <span>_____</span>
                                        </div>

                                        <div class="item-sel">
                                            <p>Объекты:</p>
                                            <span class="select">
                                            <select name="owner" id="id_owner2">
                                              <option value="" selected="">---------</option>
                                              <option value="1">Administrator</option>
                                              <option value="2">user1</option>
                                              <option value="3">user2</option>
                                            </select>
                                        </span>
                                        </div>
                                        <div class="item-sel">
                                            <p>_____</p>
                                            <span>_____</span>
                                        </div>
                                    </div>

                                <!--  Выбор времени вещания:   -->
                                <div class="timeline">
                                    <p>Выбор времени вещания:</p>
                                    {% for cell in cells %}
                                    <div class="row timeline-wrap-cell">
                                        <div class="timeline-switch">
                                            <div class="custom-control custom-switch">
                                                {% if cell.pk in grid_cells_pk %}
                                                <input type="checkbox" class="custom-control-input checkbox-publish" checked id="cellSwitch_{{ cell.pk }}">
                                                {% else %}
                                                <input type="checkbox" class="custom-control-input checkbox-publish" id="cellSwitch_{{ cell.pk }}">
                                                {% endif %}
                                                <label class="custom-control-label" for="cellSwitch_{{ cell.pk }}"> </label>
                                            </div>
                                        </div>

                                        {% if cell.pk in grid_cells_pk %}
                                        <div class="timeline-title">
                                            {% else %}
                                            <div class="timeline-title dis-block">
                                                {% endif %}
                                                <input type="text" disabled="disabled" value="{{ cell.playlist.title }}">
                                        </div>

                                        {% if cell.pk in grid_cells_pk %}
                                        <div class="input-block" id="Col1_cellSwitch_{{ cell.pk }}">
                                            {% else %}
                                            <div class="input-block dis-block" id="Col1_cellSwitch_{{ cell.pk }}">
                                                {% endif %}
                                                c: <input class="from-time" type="text" disabled="disabled" value="{{ cell.time_start }}">
                                        </div>

                                        {% if cell.pk in grid_cells_pk %}
                                        <div class="input-block" id="Col2_cellSwitch_{{ cell.pk }}">
                                            {% else %}
                                            <div class="input-block dis-block" id="Col2_cellSwitch_{{ cell.pk }}">
                                                {% endif %}
                                                до: <input class="from-time" type="text" disabled="disabled" value="{{ cell.time_stop }}">
                                        </div>

                                        <div class="timeline-delete">
                                            <a class="btn-del-elem" href="#" role="button" id="delBtn_{{ cell.pk }}">x</a>
                                        </div>
                                    </div><!-- end wrap-cell -->
                                    {% endfor%}

                                    <div class="btns-msg">
                                        <div class="alert alert-success fade show" role="alert">Изменения успешно внесены!</div>
                                        <div class="alert alert-danger fade show" role="alert">При добавлении времени вещания не прошла проверка пересечения диапазонов времени!</div>

                                        <p><a class="add-timeline" href="{% url 'addElemBroadcastGrid' %}?fromeditbroadcast=true&grid={{ grid_obj.pk }}">+</a></p>
                                    </div>

                                </div><!-- end timeline -->
                            </div><!-- end form-part -->

                            <div class="form-part between">
                                <div class="input-descr">
                                    <!--  Примечание  -->
                                    {{ form.annotation }}
                                </div>

                                <div class="form-wrap-btns">
                                    <p><a class="btn" href="#">Удалить</a></p>
                                    <p><input class="btn" type="submit" value="Сохранить"></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>

            </div>
        </div>
    </div>
</main>
{% endblock %}