{% extends "basic.html" %}

{% block container %}
<div class="container container-fluid mx-3">
  <div class="form-group">
    <form action={% url 'editObject' %} method="post">
        {% csrf_token %}
        <input type="hidden" name="pk" value="{{ obj_object.pk }}" id="pk">
        <div class="row border bg-light p-1 align-items-center">
          <div class="col form-group form-inline">
            <label class="" for="id_title">{{ form.title.label }}</label>
            {{ form.title }}
            {{ form.active }}
            <label class="my-1 mr-2 form-check-label" for="id_active">{{ form.active.label }}</label>
          </div>
        </div>
        {{form.ip_address.label_tag}}{{ form.ip_address }} &nbsp;
        <!-- {{form.port_mpd.label_tag}}{{ form.port_mpd }}<br>
        {{form.music_directory.label_tag}}{{ form.music_directory }} -->
        {{form.dep_format.label_tag}}{{ form.dep_format }} <br>
        {{form.state.label_tag}}{{ form.state }} &nbsp; {{form.town.label_tag}}{{ form.town }}&nbsp; {{form.post_address.label_tag}}{{ form.post_address }}<br>
        {{form.annotation.label_tag}}{{ form.annotation }}<br>
        {{form.play_work.label_tag}}{{ form.play_work }}<br>
        {{form.time_start.label_tag}}{{ form.time_start }} &nbsp; {{form.time_stop.label_tag}}{{ form.time_stop }}<br>
<!--        {{form.playlist.label_tag}}{{ form.playlist }} &nbsp; {{form.time_start.label_tag}}{{ form.time_start }} &nbsp; {{form.time_stop.label_tag}}{{ form.time_stop }}<br> -->
        {{form.group.label_tag}}{{ form.group }} &nbsp;<br>
        {{form.broadcast_grid.label_tag}}{{ form.broadcast_grid }}<br>
        <!-- &nbsp; {{form.cur_volume.label_tag}}{{ form.cur_volume }}<br> -->
        {{form.freq_ad.label_tag}}{{ form.freq_ad }} &nbsp; {{form.adv.label_tag}}{{ form.adv }}<br>
        {% if user.is_staff %}
          {{ form.owner.label_tag }}&nbsp;{{ form.owner }} &nbsp; <br>
        {% else %}
          <input type="hidden" name="owner" value="{{ user.pk }}" id="id_owner">
        {% endif %}
        <div class="row border bg-light p-1 my-1">
          <div class="col form-group">
            <label class="my-1 mr-2" for="id_freq_sync_day">{{ form.freq_sync_day.label }}</label>
            {{ form.freq_sync_day }}
          </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Обновить">
    </form>
  </div>
    <br>
    {% if obj_object.active %}

        <div class="row mb-1">
            <div class="col">
              <a href="{% url 'sync_all' obj_object.pk %}"
              class="btn btn-primary btn-sm btn-block active" role="button" aria-pressed="true">Синхронизация</a>
            </div>
            <div class="col">
              <a href="{% url 'ObjectStatus' obj_object.pk %}"
              class="btn btn-primary btn-sm btn-block active" role="button" aria-pressed="true">Управление</a>
            </div>
            <!-- <div class="col">"{% url 'ObjectStatus' obj_object.pk %}"
                <a href="{% url 'ObjectStatus' obj_object.pk %}"
                class="btn btn-primary btn-sm btn-block btn-check-mpd active" role="button" aria-pressed="true">Запросить Mpd</a>
            </div> -->
        </div>
        <!-- <div class="row mb-1">
            <div class="col">
                <a href="{% url 'mpdPlay' %}?object={{ obj_object.pk }}"
                class="btn btn-primary btn-sm btn-block active" role="button" aria-pressed="true">Play !11111</a>
            </div>
            <div class="col">
              <a href="{% url 'mpdStop' %}?object={{ obj_object.pk }}"
              class="btn btn-primary btn-sm btn-block active" role="button" aria-pressed="true">Stop !</a>
            </div>
        </div> -->
    {% endif %}
</div>
{% endblock %}

{% block footer %}
<!--
<script>
$('select#id_playlist').change(function(){
  alert('Элемент'+this+' был изменен.');
});
</script>
-->
  <div class="container">

	</div>
{% endblock %}
