{% extends "basic.html" %}

{% block container %}

    <main id="main">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="title-page">
                        <h1>Группы объектов</h1>
                    </div>
                    <section>
                        <div class="table-wrap">
                            <table cellspacing="2" border="1" cellpadding="5"width="100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th><div class="block-th"><span class="name-th">Наименование</span><span class="sort-th"><a class="sort-th-up" href="{% url 'listGrObjects' %}?sort=title&dir=up"></a><a class="sort-th-down" href="{% url 'listGrObjects' %}?sort=title&dir=down"></a></span></div></th>
                                        <th>Объекты</th>
                                        <th><div class="block-th"><span class="name-th">Сетка вещания</span><span class="sort-th"><a class="sort-th-up" href="{% url 'listGrObjects' %}?sort=broadcast_grid&dir=up"></a><a class="sort-th-down" href="{% url 'listGrObjects' %}?sort=broadcast_grid&dir=down"></a></span></div></th>
                                        <th><div class="block-th"><span class="name-th">Рекламный ролик</span><span class="sort-th"><a class="sort-th-up" href="{% url 'listGrObjects' %}?sort=adv&dir=up"></a><a class="sort-th-down" href="{% url 'listGrObjects' %}?sort=adv&dir=down"></a></span></div></th>
                                        {% if user.is_staff %}
                                             <th><div class="block-th"><span class="name-th">Пользователь</span><span class="sort-th"><a class="sort-th-up" href="{% url 'listGrObjects' %}?sort=owner&dir=up"></a><a class="sort-th-down" href="{% url 'listGrObjects' %}?sort=owner&dir=down"></a></span></div></th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for group in groups %}
                                        <tr>
                                            <td> {{ forloop.counter }} </td>
                                            <td><a href="{% url 'editGrObject' %}?group={{ group.pk }}"> {{ group.title }} </a></td>
                                              <!-- <td> {{ group.depot_set.all }} </td> -->
                                              <td>
                                                  {% if group.depot_set.all %}
                                                  {% for g in group.depot_set.all|slice:'0:2' %}
                                                  <span class="objects">{{ g.title }}</span>&#8194;
                                                  {% endfor %}
                                                  {% if group.depot_set.all|length > 2 %}
                                                  &hellip;
                                                  {% endif %}
                                                  {% else %}
                                                  &#8194;
                                                  {% endif %}
                                              </td>
                                              <td>
                                                {% if group.broadcast_grid %}
                                                  {{ group.broadcast_grid }}
                                                {% endif %}
                                              </td>
                                              <td> 
                                                {% if group.adv %}
                                                  {{ group.adv }}
                                                {% endif %}
                                              </td>

                                              {% if user.is_staff %}
                                            <td> {{ group.owner }} </td>
                                    {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </section>

                    <section>
                        <div>
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    {% if page.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page.previous_page_number }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>

                                    <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}">{{page.previous_page_number}}</a></li>
                                    {% endif %}

                                    <li class="page-item active"><a class="page-link" href="#">{{ page.number }}<span class="sr-only">(current)</span></a></li>

                                    {% if page.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">{{ page.next_page_number }}</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page.next_page_number }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </section>

                    <p class="btn-form"><a class="btn" href="{% url 'addGrObject' %}">Добавить группу +</a></p>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
