{% load static %}
{% block mnu %}

    <header id="header">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand" href="#">
                <img src="{% static 'img/logo-musicinfo.png' %}" alt="musicinfo" style="width:30px;">
              </a>

              {% if user.is_authenticated %}
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                  {% if mnu == 'main' %}
                    <li class="nav-item active"><a class="nav-link" href="{% url 'listObjects' %}"> Главная </a></li>
                  {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'listObjects' %}"> Главная </a></li>
                  {% endif %}
                  {% if mnu == 'gr' %}
                    <li class="nav-item active"><a class="nav-link" href="{% url 'listGrObjects' %}"> Группы объектов </a></li>
                  {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'listGrObjects' %}"> Группы объектов </a></li>
                  {% endif %}
                  {% if mnu == 'broadcast' %}
                    <li class="nav-item active"><a class="nav-link" href="{% url 'listBroadcastGrid' %}"> Сетки вещания </a></li>
                  {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'listBroadcastGrid' %}"> Сетки вещания </a></li>
                  {% endif %}
                  {% if mnu == 'playlist' %}
                    <li class="nav-item active"><a class="nav-link" href="{% url 'listPlaylist' %}"> Плейлисты </a></li>
                  {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'listPlaylist' %}"> Плейлисты </a></li>
                  {% endif %}
                  {% if mnu == 'adv' %}
                    <li class="nav-item active"><a class="nav-link" href="{% url 'listAdv' %}"> Реклама </a></li>
                  {% else %}
              		  <li class="nav-item"><a class="nav-link" href="{% url 'listAdv' %}"> Реклама </a></li>
                  {% endif %}
                  {% if mnu == 'music' %}
                    <li class="nav-item active"><a class="nav-link" href="{% url 'index' %}"> Композиции </a></li>
                  {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}"> Композиции </a></li>
                  {% endif %}

                </ul>

                {% if user.is_authenticated %}
                <span class="navbar-text user-info">
                  <a class="nav-link" href="{% url 'profile' %}">
                    {{ user.username }}
                    <img src="{% static 'img/user.png' %}" alt="user logo" style="width: 30px">
                  </a>
                </span>
                <span class="navbar-text user-exit">
                  <a class="nav-link" href="{% url 'logout' %}">Выход</a>
                </span>
                {% endif %}
              </div>
              {% endif %}
            </nav>

          </div>
        </div>
      </div>
    </header>
{% endblock %}
