{% extends "basic.html" %}

{% block container %}
<main id="main">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="title-page">
                    <h1>Композиции</h1>

                    <div class="show-filter-wrap">
                        <form action="">
                            <div class="show-filter">
                                <span>Фильтровать по</span>
                                <span class="select">
                                        <select name="" id="">
                                            <option value="0">Название</option>
                                            <option value="1">Ежемесячная</option>
                                            <option value="2">Ежеквартальная</option>
                                        </select>
                                    </span>
                                <input class="btn" type="submit" value="Применить">
                            </div>
                        </form>
                    </div>
                </div>
                <section>
                    <div class="table-wrap">
                        <table cellspacing="2" border="1" cellpadding="5"width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th><div class="block-th"><span class="name-th">Описание</span><span class="sort-th"><a class="sort-th-up" href="{% url 'index' %}?sort=title&dir=up"></a><a class="sort-th-down" href="{% url 'index' %}?sort=title&dir=down"></a></span></div></th>
                                    <th><div class="block-th"><span class="name-th">Имя файла</span><span class="sort-th"><a class="sort-th-up" href="{% url 'index' %}?sort=file_name&dir=up"></a><a class="sort-th-down" href="{% url 'index' %}?sort=file_name&dir=down"></a></span></div></th>
                                    <th><div class="block-th"><span class="name-th">Название</span><span class="sort-th"><a class="sort-th-up" href="{% url 'index' %}?sort=tag_name&dir=up"></a><a class="sort-th-down" href="{% url 'index' %}?sort=tag_name&dir=down"></a></span></div></th>
                                    <th><div class="block-th"><span class="name-th">Исполнитель</span><span class="sort-th"><a class="sort-th-up" href="{% url 'index' %}?sort=tag_artist&dir=up"></a><a class="sort-th-down" href="{% url 'index' %}?sort=tag_artist&dir=down"></a></span></div></th>
                                    <th><div class="block-th"><span class="name-th">Альбом</span><span class="sort-th"><a class="sort-th-up" href="{% url 'index' %}?sort=tag_albom&dir=up"></a><a class="sort-th-down" href="{% url 'index' %}?sort=tag_albom&dir=down"></a></span></div></th>
                                    <th><div class="block-th"><span class="name-th">Год</span><span class="sort-th"><a class="sort-th-up" href="{% url 'index' %}?sort=tag_year&dir=up"></a><a class="sort-th-down" href="{% url 'index' %}?sort=tag_year&dir=down"></a></span></div></th>
                                    <th><div class="block-th"><span class="name-th">Жанр</span><span class="sort-th"><a class="sort-th-up" href="{% url 'index' %}?sort=tag_gentre&dir=up"></a><a class="sort-th-down" href="{% url 'index' %}?sort=tag_gentre&dir=down"></a></span></div></th>
                                    <th><div class="block-th"><span class="name-th">Коммент.</span><span class="sort-th"><a class="sort-th-up" href="{% url 'index' %}?sort=tag_comment&dir=up"></a><a class="sort-th-down" href="{% url 'index' %}?sort=tag_comment&dir=down"></a></span></div></th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for song in songs %}
                                    <tr>
                                        <td> {{ song.pk }} </td>
                                        <td> {{ song.title }} </td>
                                        <td> {{ song.file_name }} </td>
                                        <td> {{ song.tag_name }} </td>
                                        <td> {{ song.tag_artist }} </td>
                                        <td> {{ song.tag_albom }} </td>
                                        <td> {{ song.tag_year }} </td>
                                        <td> {{ song.tag_gentre }} </td>
                                        <td> {{ song.tag_comment }} </td>
                                        <td>
                                            <div class="panel-playlist" style="margin-left: 0;">
                                                <a class="panel-play" href="{{ song.file.url }}"></a>
                                                <a class="panel-delete" href="#"></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </section>

                <section>
                <div>
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            {% if page.has_previous %}
                            {% if sort %}
                              <li class="page-item"><a class="page-link" href="?page=1&sort={{ sort }}&dir={{ dir }}" aria-label="First">&#171;</a></li>
                            {% else %}
                              <li class="page-item"><a class="page-link" href="?page=1" aria-label="First">&#171;</a></li>
                            {% endif %}

                              <li class="page-item">
                                {% if sort %}
                                  <a class="page-link" href="?page={{ page.previous_page_number }}&sort={{ sort }}&dir={{ dir }}" aria-label="Previous">
                                {% else %}
                                  <a class="page-link" href="?page={{ page.previous_page_number }}" aria-label="Previous">
                                {% endif %}
                                      <span aria-hidden="true">&#8249;</span>
                                      <span class="sr-only">Previous</span>
                                  </a>
                              </li>

                              <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}">{{page.previous_page_number}}</a></li>
                            {% endif %}

                            <li class="page-item active"><a class="page-link" href="#">{{ page.number }}<span class="sr-only">(current)</span></a></li>

                            {% if page.has_next %}
                              {% if sort %}
                                <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}&sort={{ sort }}&dir={{ dir }}">{{ page.next_page_number }}</a></li>
                              {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">{{ page.next_page_number }}</a></li>
                              {% endif %}
                              <li class="page-item">
                                  {% if sort %}
                                    <a class="page-link" href="?page={{ page.next_page_number }}&sort={{ sort }}&dir={{ dir }}" aria-label="Next">
                                  {% else %}
                                    <a class="page-link" href="?page={{ page.next_page_number }}" aria-label="Next">
                                  {% endif %}
                                      <span aria-hidden="true">&#8250;</span>
                                      <span class="sr-only">Next</span>
                                  </a>
                              </li>
                              {% if sort %}
                                <li class="page-item"><a class="page-link" href="?page={{ page.paginator.num_pages }}&sort={{ sort }}&dir={{ dir }}" aria-label="End">&#187;</a></li>
                              {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ page.paginator.num_pages }}" aria-label="End">&#187;</a></li>
                              {% endif %}
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                </section>
                  {% if user.is_staff %}
                    <p class="btn-form"><a class="btn" href="{% url 'addSong' %}" role="button" aria-pressed="true">Загрузить композицию</a></p>
                    <p class="btn-form"><a class="btn" href="{% url 'addSongFromDir' %}" role="button" aria-pressed="true">Добавить все файлы из каталога &laquo;new_songs&raquo;</a></p>
                  {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
