{% extends "basic.html" %}

{% block container %}

    <main id="main">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="title-page">
                        <h1>Объекты</h1>

                        <div class="show-items">
                            <a class="active" href="#">15</a>
                            <a href="#">30</a>
                        </div>

                        <div class="show-filter-wrap">
                            <form action="">
                                <div class="show-filter">
                                    <span>Фильтровать по</span>
                                    <span class="select">
                                        <select name="" id="">
                                            <option value="0">Название</option>
                                            <option value="1">Ежемесячная</option>
                                            <option value="2">Ежеквартальная</option>
                                        </select>
                                    </span>
                                    <input class="btn" type="submit" value="Применить">
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="">
                        <a href="{% url 'listObjects' %}?filter=online"><span color="red">{{ count.online }}</span></a> / <a href="{% url 'listObjects' %}?filter=offline"><span color="red">{{ count.offline }}</span></a>
                    </div>

                    <section>
                        <div class="table-wrap">
                            <table cellspacing="2" border="1" cellpadding="5"width="100%">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th><div class="block-th"><span class="name-th">Наименование</span><span class="sort-th"><a class="sort-th-up" href="{% url 'listObjects' %}?sort=title&dir=up"></a><a class="sort-th-down" href="{% url 'listObjects' %}?sort=title&dir=down"></a></span></div></th>
                                    <th>Включен</th>
                                    <th><div class="block-th"><span class="name-th">Группа</span><span class="sort-th"><a class="sort-th-up" href="{% url 'listObjects' %}?sort=group&dir=up"></a><a class="sort-th-down" href="{% url 'listObjects' %}?sort=group&dir=down"></a></span></div></th>
                                    <!-- <th>IP-адрес</th> -->
                                    <!-- <th>Описание</th> -->
                                    <th><div class="block-th"><span class="name-th">Область</span><span class="sort-th"><a class="sort-th-up" href="{% url 'listObjects' %}?sort=state&dir=up"></a><a class="sort-th-down" href="{% url 'listObjects' %}?sort=state&dir=down"></a></span></div></th>
                                    <th><div class="block-th"><span class="name-th">Город</span><span class="sort-th"><a class="sort-th-up" href="{% url 'listObjects' %}?sort=town&dir=up"></a><a class="sort-th-down" href="{% url 'listObjects' %}?sort=town&dir=down"></a></span></div></th>
                                    <!-- <th>Формат</th> -->
                                    <th><div class="block-th"><span class="name-th">Формат</span><span class="sort-th"><a class="sort-th-up" href="{% url 'listObjects' %}?sort=gentre&dir=up"></a><a class="sort-th-down" href="{% url 'listObjects' %}?sort=gentre&dir=down"></a></span></div></th>
                                    <th><div class="block-th"><span class="name-th">Сетка вещания</span><span class="sort-th"><a class="sort-th-up" href="{% url 'listObjects' %}?sort=broadcast_grid&dir=up"></a><a class="sort-th-down" href="{% url 'listObjects' %}?sort=broadcast_grid&dir=down"></a></span></div></th>
                                    <th><div class="block-th"><span class="name-th">Реклама</span><span class="sort-th"><a class="sort-th-up" href="{% url 'listObjects' %}?sort=adv&dir=up"></a><a class="sort-th-down" href="{% url 'listObjects' %}?sort=adv&dir=down"></a></span></div></th>
                                    <th><div class="block-th"><span class="name-th">Открытие</span><span class="sort-th"><a class="sort-th-up" href="{% url 'listObjects' %}?sort=time_start&dir=up"></a><a class="sort-th-down" href="{% url 'listObjects' %}?sort=time_start&dir=down"></a></span></div></th>
                                    <th><div class="block-th"><span class="name-th">Закрытие</span><span class="sort-th"><a class="sort-th-up" href="{% url 'listObjects' %}?sort=time_stop&dir=up"></a><a class="sort-th-down" href="{% url 'listObjects' %}?sort=time_stop&dir=down"></a></span></div></th>
                                    <th>Статус</th>
                                    <!-- <th>Проверка</th> -->
                                    {% if user.is_staff %}
                                      <th><div class="block-th"><span class="name-th">Пользователь</span><span class="sort-th"><a class="sort-th-up" href="{% url 'listObjects' %}?sort=owner&dir=up"></a><a class="sort-th-down" href="{% url 'listObjects' %}?sort=owner&dir=down"></a></span></div></th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for depot in depots %}
                                <tr>
                                    <td> {{ forloop.counter }} </td>
                                    <td><a href="/add_object/?object={{ depot.pk }}"> {{ depot.title }} </a></td>
                                    <td> {% if depot.active %}
                                        <input type="checkbox" checked class="" id="activeSwitch_{{ depot.pk }}" disabled>
                                        {% else %}
                                        <input type="checkbox" class="" id="activeSwitch_{{ depot.pk }}" disabled>
                                        {% endif %}
                                    </td>
                                    <td> <a href="{% url 'editGrObject' %}?group={{depot.group.pk}}">{{ depot.group.title }}</a> </td>
                                    <!-- <td> {{ depot.ip_address }} </td> -->
                                    <!-- <td> {{ depot.annotation }} </td> -->
                                    <td> {{ depot.state }} </td>
                                    <td> {{ depot.town }} </td>
                                    <!-- <td> {{ depot.dep_format }} </td> -->
                                    <td> {{ depot.dep_format }} </td>
                                    <td>
                                      {% if depot.broadcast_grid == None %}
                                        &ensp;
                                      {% else %}
                                        <a href="{% url 'editBroadcastGrid' %}?grid={{ depot.broadcast_grid.pk }}">{{ depot.broadcast_grid }}</a>
                                      {% endif %}
                                    </td>
                                    <td>
                                      {% if depot.adv == None %}
                                        &ensp;
                                      {% else %}
                                        <a href="{% url 'editAdv' %}?adv={{ depot.adv.pk }}">{{ depot.adv }}</a>
                                      {% endif %}
                                    </td>
                                    <td>
                                      {% if depot.time_start == None %}
                                        &ensp;
                                      {% else %}
                                        {{ depot.time_start }}
                                      {% endif %}
                                    </td>
                                    <td>
                                      {% if depot.time_stop == None %}
                                        &ensp;
                                      {% else %}
                                        {{ depot.time_stop }}
                                      {% endif %}
                                    </td>
                                    <td> {% if depot.active %}
                                        {% if depot.status == 'online' %}
                                        <a href="{% url 'ObjectStatus' depot.pk %}">
                                            <font color="#61D0AF">
                                                {% else %}
                                                <font color="#989898">
                                                    {% endif %}
                                                    {{ depot.status }} </font>
                                                {% if depot.status == 'online' %}
                                        </a>
                                        {% endif%}
                                        {% else %}
                                        &ensp;
                                        {% endif %}
                                    </td>
                                    <!-- <td>{% if depot.active %}
                                        {{ depot.last_check|date:"d.m.Y H:i:s" }}
                                        {% else %}
                                        &ensp;
                                        {% endif %}
                                    </td> -->
                                    {% if user.is_staff %}
                                    <td> {{ depot.owner }} </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </section>

                    <section>
                        <div>
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    {% if page.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page.previous_page_number }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>

                                    <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}">{{page.previous_page_number}}</a></li>
                                    {% endif %}

                                    <li class="page-item active"><a class="page-link" href="#">{{ page.number }}<span class="sr-only">(current)</span></a></li>

                                    {% if page.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">{{ page.next_page_number }}</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page.next_page_number }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </section>

                    {% if user.is_staff %}
                    <p class="btn-form"><a class="btn" href="/add_object/">Добавить объект +</a></p>
                    {% endif %}

                </div>
            </div>
        </div>
    </main>

{% endblock %}
